<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5b4cc">  <td>18/10/28 20:33:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PostAPITest1.setUp()[pri:0, instance:com.qa.test.PostAPITest1@735b5592]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/10/28 20:33:26</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostAPITest1.postApiTest()[pri:0, instance:com.qa.test.PostAPITest1@735b5592]">postApiTest</td> 
  <td>main@1620303253</td>   <td></td> </tr>
</table>
